[submodule "third-party/libscan"]
	path = third-party/libscan
	url = https://github.com/simon987/libscan
[submodule "third-party/argparse"]
	path = third-party/argparse
	url = https://github.com/cofyc/argparse
[submodule "third-party/mongoose"]
	path = third-party/mongoose
	url = https://github.com/cesanta/mongoose/
