[submodule "argparse"]
	path = third-party/argparse
	url = https://github.com/cofyc/argparse
[submodule "cJSON"]
	path = third-party/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "lib/onion"]
	path = third-party/onion
	url = https://github.com/davidmoreno/onion
[submodule "third-party/libscan"]
	path = third-party/libscan
	url = https://github.com/simon987/libscan
[submodule "third-party/utf8.h"]
	path = third-party/utf8.h
	url = https://github.com/sheredom/utf8.h
