*:focus {
    outline: 0;
}

.info-icon {
    width: 1rem;
    margin-right: 0.2rem;
    cursor: pointer;
    line-height: 1rem;
    height: 1rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKICAgICB2aWV3Qm94PSIwIDAgNDI2LjY2NyA0MjYuNjY3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MjYuNjY3IDQyNi42Njc7IiBmaWxsPSIjZmZmIj4KPGc+CiAgICA8Zz4KICAgICAgICA8Zz4KICAgICAgICAgICAgPHJlY3QgeD0iMTkyIiB5PSIxOTIiIHdpZHRoPSI0Mi42NjciIGhlaWdodD0iMTI4Ii8+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0yMTMuMzMzLDBDOTUuNDY3LDAsMCw5NS40NjcsMCwyMTMuMzMzczk1LjQ2NywyMTMuMzMzLDIxMy4zMzMsMjEzLjMzM1M0MjYuNjY3LDMzMS4yLDQyNi42NjcsMjEzLjMzMwogICAgICAgICAgICAgICAgUzMzMS4yLDAsMjEzLjMzMywweiBNMjEzLjMzMywzODRjLTk0LjA4LDAtMTcwLjY2Ny03Ni41ODctMTcwLjY2Ny0xNzAuNjY3UzExOS4yNTMsNDIuNjY3LDIxMy4zMzMsNDIuNjY3CiAgICAgICAgICAgICAgICBTMzg0LDExOS4yNTMsMzg0LDIxMy4zMzNTMzA3LjQxMywzODQsMjEzLjMzMywzODR6Ii8+CiAgICAgICAgICAgIDxyZWN0IHg9IjE5MiIgeT0iMTA2LjY2NyIgd2lkdGg9IjQyLjY2NyIgaGVpZ2h0PSI0Mi42NjciLz4KICAgICAgICA8L2c+CiAgICA8L2c+CjwvZz4KPC9zdmc+Cg==);
    filter: brightness(65%);
}

.info-icon:hover {
    color: inherit;
}

.modal-title {
    max-width: calc(100% - 2rem);
    overflow: hidden;
    text-overflow: ellipsis;
}


.path-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.tag-container {
    margin-left: 0.3rem;
}

.path-line {
    color: #BBB;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

a {
    color: #00BCD4;
}

body {
    overflow-y: scroll;
    background: black;
}

.progress {
    margin-top: 1em;
}

.card, .modal-content {
    margin-top: 1em;
    background: #212121;
    color: #e0e0e0;
    border-radius: 1px;
    border: none;
}

.table {
    color: #e0e0e0;
}

.table td, .table th {
    border: none;
}

.table thead th {
    border-bottom: 1px solid #646464;
}

.modal-header .close {
    color: #e0e0e0;
    text-shadow: none;
}

.modal-header {
    border-bottom: 1px solid #646464;
}

.sub-document {
    background: #37474F !important;
}

.list-group-item.sub-document {
    border-top: 1px solid #646464 !important;
}

.sub-document .text-muted {
    color: #8a949c !important;
}


.list-group-item {
    background: #212121;
    color: #e0e0e0;

    border-top: 1px solid #424242;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: .25rem 0.5rem;
}

.list-group-item:first-child {
    border-top: none;
}

.navbar-brand {
    font-size: 1.75rem;
    padding: 0;
    color: #f5f5f5;
}

.navbar {
    background: #546b7a;
}

a:hover, .btn:hover {
    color: #fff;
}

.navbar span {
    color: #eee;
}

.document {
    padding: 0.3rem;
}

.card-text:last-child {
    margin-top: -1px;
}

.document p {
    margin-bottom: 0;
}

.document:hover p {
    text-decoration: underline;
}

.badge-video {
    color: #FFFFFF;
    background-color: #F27761;
}

.badge-image {
    color: #FFFFFF;
    background-color: #AA99C9;
}

.badge-audio {
    color: #FFFFFF;
    background-color: #00ADEF;
}

.badge-resolution {
    color: #212529;
    background-color: #B0BEC5;
}

.badge-text {
    color: #FFFFFF;
    background-color: #FAAB3C;
}

.add-tag-button {
    cursor: pointer;
    color: #212529;
    background-color: #e0e0e0;
}

.card-img-overlay {
    pointer-events: none;
    padding: 0.75rem;

    bottom: unset;
    top: 0;
    left: unset;
    right: unset;
}

.file-title {
    width: 100%;
    line-height: 1rem;
    height: 1.1rem;
    font-size: 10pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #00BCD4;
}

.badge {
    margin-right: 3px;
}

.badge-delete {
    margin-right: -2px;
    margin-left: 2px;
    margin-top: -1px;
    font-family: monospace;
    font-size: 90%;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.1em 0.4em;
    color: white;
    cursor: pointer;
}

.badge-user {
    color: #212529;
    background-color: #e0e0e0;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.fit {
    display: block;
    min-width: 64px;
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto 0;
    height: auto;
}

.img-padding {
    padding: 4px 4px 0 4px;
}

.fit-sm {
    display: block;
    max-width: 64px;
    max-height: 64px;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.audio-fit {
    height: 39px;
    vertical-align: bottom;
    display: inline;
    width: 100%;
}

@media screen and (min-width: 1800px) {
    .container {
        max-width: 1550px;
    }
}

mark {
    background: rgba(251, 191, 41, 0.25);
    border-radius: 0;
    padding: 1px 0;
    color: inherit;
}

.content-div mark {
    background: rgba(251, 191, 41, 0.40);
    color: white;
}


.content-div {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 13px;
    padding: 1em;
    background-color: #37474F;
    border: 1px solid #616161;
    border-radius: 4px;
    margin: 3px;
    white-space: normal;
    color: rgb(224, 224, 224);
    overflow: hidden;
}

.irs-single, .irs-from, .irs-to {
    font-size: 13px;
    background-color: #00BCD4;
}

.irs-slider {
    cursor: col-resize;
}

.irs {
    margin-top: 1em;
    margin-bottom: 1em;
}

.custom-select {
    overflow: auto;
    background-color: #37474F;
    border: 1px solid #616161;
    color: #bdbdbd;
}

.custom-select:focus {
    border-color: #757575;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

option {
    outline: none;
}

.form-control {
    background-color: #37474F;
    border: 1px solid #616161;
    color: #fff;
}

.form-control:focus {
    background-color: #546E7A;
    color: #fff;
}

.input-group-text {
    background: #263238;
    border: 1px solid #616161;
    color: #dbdbdb;
}

::placeholder {
    color: #BDBDBD !important;
    opacity: 1;
}


.inspire-tree .selected > .wholerow, .inspire-tree .selected > .title-wrap:hover + .wholerow {
    background: none;
}

.inspire-tree .icon-expand::before, .inspire-tree .icon-collapse::before {
    background-color: black;
}

.inspire-tree .title {
    color: #eee;
}

.inspire-tree {
    font-weight: 400;
    font-size: 14px;
    font-family: Helvetica, Nueue, Verdana, sans-serif;
    max-height: 350px;
    overflow: auto;
}

.page-indicator {
    line-height: 1rem;
    padding: 0.5rem;
    background: #212121;
    color: #eee;
    margin-top: 1em;
}

.btn-xs {
    padding: .1rem .3rem;
    font-size: .875rem;
    border-radius: .2rem;
}

.btn {
    color: #eee;
}

.nav-tabs .nav-link {
    color: #e0e0e0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #212121;
    border-color: #616161 #616161 #212121;
    color: #e0e0e0;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:focus {
    border-color: #616161 #616161 #212121;
    color: #e0e0e0;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #e0e0e0 #e0e0e0 #212121;
    color: #e0e0e0;
}

.nav-tabs {
    border-bottom: #616161;
}

.nav {
    margin-top: 0.5rem;
}

@media (max-width: 800px) {
    #treeTabs {
        flex-basis: inherit;
        flex-grow: inherit;
    }
}

.list-group {
    margin-top: 1em;
}

.wrapper-sm {
    min-width: 64px;
}

.media-expanded {
    display: inherit;
}

.media-expanded .fit {
    max-height: 250px;
}

@media (max-width: 650px) {
    .media-expanded .fit {
        max-height: none;
    }

    .tagline {
        display: none;
    }
}

.version {
    color: #00BCD4;
    margin-left: -18px;
    margin-top: -14px;
    font-size: 11px;
}

@media (min-width: 800px) {
    .small-btn {
        display: none;
    }

    .large-btn {
        display: inherit;
    }
}

@media (max-width: 801px) {
    .small-btn {
        display: inherit;
    }

    .large-btn {
        display: none;
    }
}

#searchBar {
    border-right: none;
}

#pathTree .title {
    cursor: pointer;
}

svg {
    fill: white;
}

.play {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.play svg {
    fill: rgba(255, 255, 255, 0.7);
}

.img-wrapper:hover svg {
    fill: rgba(255, 255, 255, 1);
}

.pointer {
    cursor: pointer;
}

.stats-card {
    text-align: center;
    margin-top: 1em;
    padding: 1em;

    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08) !important;
    border-radius: 0;
    border: none;

    background: #212121;
}

.graph {
    display: inline-block;
    width: 40%;
}

.full-screen {
    position: absolute;
    left: 0;
    width: 100%;
}

.stats-btn {
    float: right;
    margin-bottom: 10px;
}

#graphs-card svg text {
    fill: #eee;
}

.wholerow {
    outline: none !important;
}

.stat > .card-body {
    padding: 0.7em 1.25em;
}
