*:focus {
    outline: 0;
}

.info-icon {
    width: 1rem;
    margin-right: 0.2rem;
    cursor: pointer;
    line-height: 1rem;
    height: 1rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKICAgICB2aWV3Qm94PSIwIDAgNDI2LjY2NyA0MjYuNjY3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MjYuNjY3IDQyNi42Njc7IiBmaWxsPSIjZmZmIj4KPGc+CiAgICA8Zz4KICAgICAgICA8Zz4KICAgICAgICAgICAgPHJlY3QgeD0iMTkyIiB5PSIxOTIiIHdpZHRoPSI0Mi42NjciIGhlaWdodD0iMTI4Ii8+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0yMTMuMzMzLDBDOTUuNDY3LDAsMCw5NS40NjcsMCwyMTMuMzMzczk1LjQ2NywyMTMuMzMzLDIxMy4zMzMsMjEzLjMzM1M0MjYuNjY3LDMzMS4yLDQyNi42NjcsMjEzLjMzMwogICAgICAgICAgICAgICAgUzMzMS4yLDAsMjEzLjMzMywweiBNMjEzLjMzMywzODRjLTk0LjA4LDAtMTcwLjY2Ny03Ni41ODctMTcwLjY2Ny0xNzAuNjY3UzExOS4yNTMsNDIuNjY3LDIxMy4zMzMsNDIuNjY3CiAgICAgICAgICAgICAgICBTMzg0LDExOS4yNTMsMzg0LDIxMy4zMzNTMzA3LjQxMywzODQsMjEzLjMzMywzODR6Ii8+CiAgICAgICAgICAgIDxyZWN0IHg9IjE5MiIgeT0iMTA2LjY2NyIgd2lkdGg9IjQyLjY2NyIgaGVpZ2h0PSI0Mi42NjciLz4KICAgICAgICA8L2c+CiAgICA8L2c+CjwvZz4KPC9zdmc+Cg==);
    filter: brightness(45%);
}

.info-icon:hover {
    color: inherit;
}

.modal-title {
    max-width: calc(100% - 2rem);
    overflow: hidden;
    text-overflow: ellipsis;
}

.path-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.tag-container {
    margin-left: 0.3rem;
}

.path-line {
    color: #444;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

body {
    overflow-y: scroll;
}

.progress {
    margin-top: 1em;
}

.card {
    margin-top: 1em;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08) !important;
    border-radius: 0;
    border: none;
}

.sub-document {
    background: #AB47BC1F !important;
}

.navbar-brand {
    font-size: 1.75rem;
    padding: 0;
}

.navbar {
    background: #F7F7F7;
    border-bottom: solid 1px #dfdfdf;
}

.document {
    padding: 0.5rem;
}

.document p {
    margin-bottom: 0;
}

.document:hover p {
    text-decoration: underline;
}

.badge-video {
    color: #FFFFFF;
    background-color: #F27761;
}

.badge-image {
    color: #FFFFFF;
    background-color: #AA99C9;
}

.badge-audio {
    color: #FFFFFF;
    background-color: #00ADEF;
}

.badge-resolution {
    color: #212529;
    background-color: #FFC107;
}

.badge-user {
    color: #212529;
    background-color: #e0e0e0;
}

.badge-text {
    color: #FFFFFF;
    background-color: #FAAB3C;
}

.card-img-overlay {
    pointer-events: none;
    padding: 0.75rem;

    bottom: unset;
    top: 0;
    left: unset;
    right: unset;
}

.file-title {
    width: 100%;
    line-height: 1rem;
    height: 1.1rem;
    font-size: 10pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.badge {
    margin-right: 3px;
}

.fit {
    display: block;
    min-width: 64px;
    max-width: 100%;
    max-height: 175px;
    margin: 0 auto 0;
    padding: 3px 3px 0 3px;
    width: auto;
    height: auto;
}

.fit-sm {
    display: block;
    max-width: 64px;
    max-height: 64px;
    margin: 0 auto 0;
    width: auto;
    height: auto;
}

.audio-fit {
    height: 39px;
    vertical-align: bottom;
    display: inline;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .bricklayer-column {
        max-width: 100%;
    }
}

@media screen and (min-width: 1500px) {
    .container {
        max-width: 1440px;
    }

    .bricklayer-column-sizer {
        width: 20% !important;
    }

    .bricklayer-column {
        max-width: 20%;
    }
}

@media screen and (min-width: 1800px) {
    .container {
        max-width: 1550px;
    }
}

mark {
    background: #fff217;
    border-radius: 0;
    padding: 1px 0;
    color: inherit;
}

.content-div {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 13px;
    padding: 1em;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 3px;
    white-space: normal;
    color: #000;
    overflow: hidden;
}

.irs-single, .irs-from, .irs-to {
    font-size: 13px;
}

.irs-slider {
    cursor: col-resize;
}

.custom-select {
    overflow: auto;
}

.irs {
    margin-top: 1em;
    margin-bottom: 1em;
}

.inspire-tree .selected > .wholerow, .inspire-tree .selected > .title-wrap:hover + .wholerow {
    background: none;
}

.inspire-tree {
    font-weight: 400;
    font-size: 14px;
    font-family: Helvetica, Nueue, Verdana, sans-serif;
    max-height: 350px;
    overflow: auto;
}

.page-indicator {
    line-height: 1rem;
    padding: 0.5rem;
    background: #f8f9fa;
    margin-top: 1em;
}

.btn-xs {
    padding: .1rem .3rem;
    font-size: .875rem;
    border-radius: .2rem;
}

.nav {
    margin-top: 0.5rem;
}

@media (max-width: 800px) {
    #treeTabs {
        flex-basis: inherit;
        flex-grow: inherit;
    }
}

.list-group {
    margin-top: 1em;
}

.list-group-item {
    padding: .25rem 0.5rem;
}

.wrapper-sm {
    min-width: 64px;
}

.media-expanded {
    display: inherit;
}

.media-expanded .fit {
    max-height: 250px;
}

@media (max-width: 650px) {
    .media-expanded .fit {
        max-height: none;
    }

    .tagline {
        display: none;
    }
}

.version {
    color: #007bff;
    margin-left: -18px;
    margin-top: -14px;
    font-size: 11px;
}

@media (min-width: 800px) {
    .small-btn {
        display: none;
    }

    .large-btn {
        display: inherit;
    }
}

@media (max-width: 801px) {
    .small-btn {
        display: inherit;
    }

    .large-btn {
        display: none;
    }
}

#searchBar {
    border-right: none;
}

#pathTree .title {
    cursor: pointer;
}

.play {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.play svg {
    fill: rgba(0, 0, 0, 0.7);
}

.img-wrapper:hover svg {
    fill: rgba(0, 0, 0, 1);
}

.pointer {
    cursor: pointer;
}

.stats-card {
    text-align: center;
    margin-top: 1em;
    padding: 1em;

    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08) !important;
    border-radius: 0;
    border: none;

    background: #fff;
}

.graph {
    display: inline-block;
    width: 40%;
}

.full-screen {
    position: absolute;
    left: 0;
    width: 100%;
}

.stats-btn {
    float: right;
    margin-bottom: 10px;
}

.wholerow {
    outline: none !important;
}
